<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Descargar videos </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h2>Descargar Video</h2>
        <form action="/descargar" method="post">
            <input type="text" name="url" placeholder="Pega aquí el enlace del video" required>
            <button type="submit">Descargar</button>
        </form>
    </div>
</body>
</html>
